<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PBKK PROJECT</title>

  <!-- Import CSS (sesuaikan dengan lokasi file CSS kamu) -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="flex flex-col items-center justify-center min-h-screen text-center">
  <h1>Welcome!</h1>
  <p>Discover delicious dishes and share your thoughts.</p>

  <a href="/restaurants" class="btn">Start</a>
</body>
</html>
